<script src="/assets/js/party_client.js"></script>

<div class="container-fluid vh-100 bg-dark ">
</div>
<div class="d-flex align-items-center mobile-container m-auto p-3 border bg-light position-absolute top-50 start-50 translate-middle" id="screen">
    <div class="w-100">
        <div class="row align-items-center justify-content-around my-auto gy-4">
            <div class="col-12">
                <p class="text-center" id="connection_text">Connecting...</p>
            </div>
            <div class="col-6">
                <div class=" ratio ratio-1x1">
                    <button type="button" class="btn btn-outline-secondary"
                    data-type="emoji" data-func="addCircularUp" data-emoji="👍">
                        <p class="display-1">👍</p>
                    </button>
                </div>
            </div>
            <div class="col-6">
                <div class=" ratio ratio-1x1">
                    <button type="button" class="btn btn-outline-secondary" 
                    data-type="emoji" data-func="addWaveUp" data-emoji="❤️">
                        <p class="display-1">❤️</p>
                    </button>
                </div>
            </div>
            <div class="col-6">
                <div class=" ratio ratio-1x1">
                    <button type="button" class="btn btn-outline-secondary"
                    data-type="emoji" data-func="addScaleInOut" data-emoji="🔥">
                        <p class="display-1">🔥</p>
                    </button>
                </div>
            </div>
            <div class="col-6">
                <div class=" ratio ratio-1x1">
                    <button type="button" class="btn btn-outline-secondary"
                    data-type="emoji" data-func="addCircular" data-emoji="🤺">
                        <p class="display-1">🤺</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>